{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated and user.is_superuser%}

<div class="container">
  <h1 class="mt-4 mb-4">Detalle de Audiencia</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Audiencia: {{ audiencia.caso }}</h5>
      <p class="card-text">fecha: {{ audiencia.fecha }}</p>
      <p class="card-text">Plazo Critico: {{ audiencia.plazo_critico }}</p>
    
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
